<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="5">
    <Properties>
        <Property name="log-path">/var/log/wavefront</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{h:mm:ss} %-5level [%c{1}:%M] %m%n</pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="logfile" fileName="${log-path}/wavefront.log" filePattern="${log-path}/wavefront-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d %-5level [%c{1}:%M] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="/var/log/wavefront" maxDepth="1">
                    <IfFileName glob="wavefront-*.log" />
                    <IfLastModified age="31d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.activemq" level="OFF" additivity="false" />
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="logfile" />
        </Root>
    </Loggers>
</Configuration>